* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
* p{
    font-size: 10px;
    clear:  #ccc;;
}
body {
    font-family: Arial,sans-serif;
    background-color: #111;
    color: #fff;
}
.Fitness {
    font-size: 30px;
    color:  rgba(230, 83, 60, 1);
    font-style: italic;

    

    
}
.section-1 {    
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    
}
.display-flex{
    display: flex;
}
.navber{
    justify-content: space-around;
}
.nav-link{
    gap: 20px;
    list-style: none;
    text-decoration: none;
    color: #dadada;
    font-size: 13px;

}
.section-1 ul{
    padding: 1px;
    border: 0.1px solid #525252;
    border-radius: 50px;
    
}
.section-1 ul li{
    padding: 8px 20px;
}
.section-1 ul li:nth-child(1){
background-color: rgba(230, 83, 60, 1);
border-radius: 50px;

}
  

.banner{
    margin-left: 200px;
}
.banner-text {
    margin-bottom: 40px;
    margin-top: 50px;
    font-size: 40px;
    width: 60%  
    
}
.banner-text h1 span {
    font-style: italic;
    font-family: Italic;
}
.text-style{
    font-size: 16rem;
    width: 700px;
}
.pa{
    width: 90%;
    font-size: 10px;
    color: #8d8c8c;
    margin-bottom: 30px;
    
    
    
}
.Join{
    display: flex;
    gap: 30px;
    
    list-style: none;
}
.section2 ul li:nth-child(
    1){
    background-color: #ff4500;
    border-radius: 50px;
    padding: 6px 25px;
}
.section2 ul li:nth-child(2){
    border: 1px solid white;
    border-radius: 50px;
    padding: 6px 25px;

}
.Join{
    
}
.image{
    max-width: 50%;
    position: relative;
    margin-right: 70px;
}
.image img {
    width: 100%;
}
.three{
    position: absolute;
    bottom: 13%;
    left: 1%;
}
.five{
    position: absolute;
    top: 32%;
    left: 55%;

}
#number{
    font-size: 1.5rem;
    font-weight: 800;
 
}
#fast{
    padding: 10px 25px ;
    font-size: 0.5rem;
    font-weight: 100;
    
}
.btn-one{
    background-color: rgba(48, 48, 48, 0.54);
    color: #EFEDE8;
    padding: 10px 20px;
    font-weight: 300;
    border-radius: 10px;
    border: none;
    
}
#number-two{
    font-size: 2.1rem;
    font-weight: 800;
}
.btn-two{
    background-color: rgba(48, 48, 48, 0.54);
    color: #EFEDE8;
    padding: 5px 10px;
    font-weight: 300;
    border-radius: 10px;
    border: none;
}  
#scend{
    padding: 10px 20px ;
    font-size: 0.5rem;
    font-weight: 100;
    margin-top: -500px;
    margin-left: -px;
}  

.display-flex{
    display: flex;
}    

.p-style{
    font-size: 10px;
    color: #8d8c8c;
    padding-top: 10px;
}
.text-style{
    font-size: 10px;
    color: #8d8c8c; 
    padding-top: 5px;
}
.carkel{
    
    

}


.your{
    padding: 20px;
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}
.round {
    width: 240px;
    height: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.round img{
    border-radius: 50%;
    margin: 20px;
}
.text-style{

}
.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    
    
}
.content {
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 40px auto;
    
}

.banner-text-container {
    max-width: 50%;
}
.banner-text-container h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.banner-text-container p {
    font-size: 10px;
    color: #ccc;
    margin-bottom: 20px;
}
.join-button {
    background-color: #ff4500;
    border: none;
    border-radius: 50px;
    padding: 8px 20px;
    color: white;
    font-size: 1rem;
}
.banner-image-container img {
    width: 50%;
    border-radius: 10px;
    margin-left: 350px;
    object-fit: none;
    object-position:66% 25% ;
}

.main {
    font-family: Arial, sans-serif;
    /* background-color:#474545; */
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}
.odvut-main{
    margin: 50px;
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* grid-template-rows: repeat(12,1fr); */
}
.odvut-main img {
    width: 100%;
    height: 100%;
   
}
.odvut-child-1{
    background-color: rgb(105, 33, 178);
    grid-column:1/span 3;
    
    
}
  
.odvut-child-2{
    background-color: #ff4500;
    grid-column:4/span 6;
}
  
.odvut-child-3{
    background-color: aqua;
    grid-column:10/span 4;
}
  
.odvut-child-4{
    background-color: brown;
    grid-column:1/span 5;
}
  
.odvut-child-5{
    background-color: chartreuse;
    grid-column:6/span 3;
}
  
.odvut-child-6{
    background-color: darkslategrey;
    grid-column:9/span 4;
}
.BMI{
    margin-top: 30px;
    
    padding-left: 35%;
}
.main h1 h2{
    font-size: 20px;
    padding: 3px;
    
}
.main h2{

    margin-left: 60px;
    
}
.main p{
    font-size: 10PX;
    color:  #ccc;
    margin-left: 65px;
   

}
.main-calculator {
    margin-top: 30px;
    min-height: 400px;
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
}
.main-calculator h3 {
    margin-top: 40px;
    font-size: 20px;
}
.main-calculator p{
    margin: 10px;
    font-size: 10px;
    color:  #ccc;
}
.from{
    width: 50%;
}
.item{
    border: 1px solid rgb(123, 122, 121);
}
.BMI-Calculator{
    display: grid;
    grid-template-columns: repeat(2,150px);
    margin-top: 60px;
    
}
.item{
    padding: 10px;
}
.from-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.from-filed{
    width: 49%;
    
    
}
.from-filed-text{
    width: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 35px;
    
}
.from-container input, select {
    width: 100%;
    padding: 10px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color:  #5b5b5b74;
    color: #ccc;
}
.meet{
    margin: 30px;
    text-align: center;
}

.team-section {
    
    
}


.team-container {
  background-color: #474545;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  border-radius: 10px;
  margin-left: 100px;
  padding: 10px;
  
}
.team-member>img:nth-child(1){
    height: 250px;
    
}
.hp{
    position: absolute;
    bottom:20% ;
    left: 5%;
    
}

.team-member {
   
    border-radius: 10px;
    position: relative;
}


.team-member img {
    width: 100%;
    border-radius: 10px;
    
    
}






.footer{
    
}
.footer-container{
    background-color: #474545;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
}
.footer-logo{
    margin-top: 50px;
}
.footer-l{
    display: flex;
    margin-top: 40px;
    text-decoration: none;
    
}
.footer-logo p {
    margin-top: 5px;
    font-size: 10px;
    color: #cfcdcd;
} 
.footer-logo h2{
    font-size: 35px;
}   
    
.footer-link ul {
    list-style: none;
    padding: 20px;
    
}
.footer-link ul li {
    margin-bottom: 10px;
    font-size: 13px;
    color: #cfcdcd;
}  
.email h5{
    font-size: 11px;
    align-items: center;
    text-align: center;
    margin-right: 200px; 
}  

.icon{
    display: none;
}
/* Mobile responsive 576px */
@media screen and (max-width:576px) {
    
    .Fitness{
        font-size: 50px;
    
    }
    .nav-link{
        display: none;
        
    }
    .icon{
        display: block;
        font-size: 50px;
        margin-left: 200px;
    }    
    .section2{
        flex-direction: column;
        align-items: center;
        
    }
    .banner-text{
        
       font-size: 40px;
       width: 100%  
    }
    .image{
        width: 100%;
        margin-left: 200px;
        
    }
    .btn-one,btn-two{
        width: 80%;
        margin: 0 auto;
    }
    .habits-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 180px;
        
        
    }
    .round img{
        width: 50%;
        margin-top: 40px;
        padding: px;
    }
    .round{
        margin: 0 auto;
        margin-top: 40px;
        padding-top: 60px;
    }
    .round {
        
    }
    .content {
        flex-direction: column;
        margin-top: 200px;
    }
   .banner-image-container img{
        width: 100%;
        border-radius: 40px;
        margin: 0 auto;
        margin-top: 50px;
    }
    

    

    
    
}